body{background:#fff;font-family:'Source Sans Pro',sans-serif;font-style:normal;font-weight:300}
body,html{width:100%;overflow-x:hidden}
blockquote,h1,h2,h3,h4,h5,h6{font-weight:600}
h1{font-size:4.5rem;line-height:6.5rem;letter-spacing:10px;text-transform:uppercase;padding-top:12px}
h2{font-size:30px;letter-spacing:3px;padding-bottom:18px;text-transform:uppercase}
#calendar h2{padding-bottom:2px;margin-top:-10px}
blockquote,h3{font-family:Lora,sans-serif;font-style:italic}
h3{line-height:36px}
h4{color:#999;letter-spacing:2px;margin-top:22px}
p{color:#616161;font-size:20px;line-height:25px;letter-spacing:.4px}
a{text-decoration:none!important;outline:0}
#calendar{padding-top:10rem;padding-bottom:10rem}
#calendar-header,#home{text-align:center}
.parallax-section{background-attachment:fixed!important;background-size:cover!important}
.preloader{position:fixed;top:0;left:0;width:100%;height:100%;z-index:99999;display:flex;flex-flow:row nowrap;justify-content:center;align-items:center;background:none repeat scroll 0 0 #fff}
.sk-spinner-pulse{width:40px;height:40px;background-color:#26253a;border-radius:100%;-webkit-animation:sk-pulseScaleOut 1s infinite ease-in-out;animation:sk-pulseScaleOut 1s infinite ease-in-out}
@-webkit-keyframes sk-pulseScaleOut{
0%{-webkit-transform:scale(0);transform:scale(0)}
100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}
@keyframes sk-pulseScaleOut{
0%{-webkit-transform:scale(0);transform:scale(0)}
100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}
.navbar-default{background:#fff;box-shadow:0 0 8px 0 rgba(0,0,0,.2);margin:0!important}
.navbar-default .navbar-brand{color:#505050;font-size:45px;font-weight:700;line-height:58px;margin:0}
.navbar-default .navbar-nav li a{color:#999;font-size:23px;font-weight:310;line-height:60px;letter-spacing:.6px;transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out}
.navbar-default .navbar-nav li a:hover{color:#ff512f}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#ff512f;background-color:transparent}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{color:#ff512f;background-color:transparent}
.navbar-default .navbar-toggle{border:none;padding-top:10px}
.navbar-default .navbar-toggle .icon-bar{color:#000;border-color:transparent}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{color:#000;background-color:transparent}
#logo_nav{width:60px;float:left;margin-right:15px}
#home{background:50% 0 repeat-y fixed;-webkit-background-size:cover;background-size:cover;background-position:center center;color:#fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:100vh}
#logo{width:25%;margin-bottom:-30px}
#home p{color:#a3a3a3}
#home h3{letter-spacing:2px}
#home .btn{background:#26253a;border:none;border-radius:0;color:#999;font-size:20px;font-weight:700;letter-spacing:4px;padding:16px 38px;margin-top:28px;transition:all .4s ease-in-out}
#home .btn:hover{background:#fff;color:#26253a}
#overview{padding-top:14rem;padding-bottom:20rem;position:relative}
#overview img{border:4px solid #f9f9f9;padding:20px}
#overview blockquote{background:#fff;box-shadow:0 2px 8px 10px rgba(50,50,50,.04);border-left:8px solid #ff512f;word-spacing:1px;letter-spacing:1px;position:absolute;font-size:20px;top:270px;left:80px;padding:50px}
#overview .overview-detail{position:relative;top:-25px;width:100%;text-align:justify}
#overview .btn{background:0 0;color:#ff512f;border:3px solid #ff512f;border-radius:0;font-size:22px;font-weight:600;letter-spacing:4px;text-transform:uppercase;padding:14px 46px;transition:all .4s ease-in-out;margin-top:32px}
#overview .btn:hover{background:#ff512f;color:#fff}
#calendar .calendar-thumb{border:1px solid #cacaca;position:relative;padding:60px;-wekbit-transition:all .8s linear;transition:all .8s linear}
#calendar .calendar-thumb:hover{-webkit-background-size:cover;background-size:cover;background-position:center center}
#case_haut_gauche:hover{background:linear-gradient(to right,rgba(0,0,0,.8),rgba(0,0,0,.7),rgba(0,0,0,0)),url(../images/pull.png) 50% 0 repeat-y fixed}
#case_haut_droite:hover{background:linear-gradient(to right,rgba(0,0,0,.8),rgba(0,0,0,.7),rgba(0,0,0,0)),url(../images/buche.png) 50% 0 repeat-y fixed}
#case_bas_gauche:hover{background:linear-gradient(to right,rgba(0,0,0,.8),rgba(0,0,0,.7),rgba(0,0,0,0)),url(../images/food.png) 50% 0 repeat-y fixed}
#case_bas_droite:hover{background:linear-gradient(to right,rgba(0,0,0,.8),rgba(0,0,0,.7),rgba(0,0,0,0)),url(../images/trampo.png) 50% 0 repeat-y fixed}
#calendar .calendar-thumb:hover .calendar-title{color:#fff;transition:none}
#calendar .calendar-thumb:hover #calendar-author,#calendar .calendar-thumb:hover .calendar-date{color:#fff}
#calendar .col-md-6:nth-child(2) .calendar-thumb,#calendar .col-md-6:nth-child(3) .calendar-thumb{margin-top:45px}
#calendar .col-md-6:nth-child(4) .calendar-thumb,#calendar .col-md-6:nth-child(5) .calendar-thumb{margin-top:42px}
#calendar .calendar-date{color:#606060;font-weight:700}
#calendar #calendar-author{color:#606060;letter-spacing:1px}
#calendar h3{font-family:'Source Sans Pro',sans-serif;font-style:normal;transition:0s!important}
footer{background:#26253a;color:#fff;padding-top:8rem;padding-bottom:8rem}
footer p{color:#b1b1b1}
footer a{color:#ff512f}
footer .col-md-5{position:relative;left:100px}
footer .col-md-5 div{padding-top:10px}
footer h4{margin-top:0}
footer .copyright-text{padding-top:50px;text-align:center}
.social-icon{position:relative;padding:0;margin:0}
.social-icon li{display:inline-block;list-style:none}
.social-icon li a{color:#999;border-radius:100px;font-size:20px;text-decoration:none;transition:all .4s ease-in-out;width:50px;height:50px;line-height:50px;text-align:center;vertical-align:middle;margin-right:15px}
.social-icon li a:hover{background:#fff;color:#ff512f}
@media (max-width:980px){
#home{height:65vh}
#overview{text-align:center}
#overview blockquote{top:260px;padding:82px}
#overview .overview-detail{margin-left:20px;top:72px}
footer .col-md-5{left:30px}
#calendar-header{height:40vh}
}
@media (max-width:768px){
#overview blockquote{top:306px;left:30px;right:10px}
}
@media (max-width:767px){
.navbar-default .navbar-brand{line-height:15px}
.navbar-default .navbar-nav li a{font-size:20px;line-height:18px}
#calendar{padding-top:6rem;padding-bottom:6rem}
#overview{padding-top:8rem;padding-bottom:8rem}
}
@media (max-width:760px){
#home{height:100vh}
#calendar-header{height:35vh}
#calendar .calendar-comment-form{margin-bottom:42px}
h1{font-size:2.8rem;line-height:4.8rem}
h2{font-size:24px}
h3{font-size:18px}
p{font-size:17px}
#overview img{margin-bottom:-60px}
#overview .overview-detail{margin-top:100px;top:0}
footer{text-align:center}
footer .col-md-5{left:0;padding-top:30px;padding-bottom:30px}
}
@media (max-width:650px){
#overview blockquote{position:relative;top:0;left:0}
}
@media (max-width:450px){
#overview blockquote{padding:32px}
#overview .overview-detail{margin-top:32px}
}